<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>중앙일보 뉴스</title>
    <script>
      function loadNews(category) {
        fetch(`/get_news?category=${category}`)
          .then((response) => response.json())
          .then((data) => {
            const ul = document.getElementById("news-list");
            ul.innerHTML = ""; // 기존 뉴스 삭제
            data.forEach((news) => {
              console.log(news);
              const li = document.createElement("li");
              li.innerHTML = `
              <strong><a href = "${news.link}" target="_blank">${news.title}</a></strong><br/>
                            ${news.description}<br/>
                            <em>${news.date}</em>`;
              ul.appendChild(li);
            });
          })
          .catch((error) => {
            console.error("fetching error!!!", error);
          });
      }
    </script>
  </head>
  <body>
    <h1>中央日報ニュース</h1>

    <div id="category-buttons">
      <button onclick="loadNews('politics')">政治</button>
      <button onclick="loadNews('money')">経済</button>
      <button onclick="loadNews('society')">社会</button>
      <button onclick="loadNews('world')">国際</button>
      <button onclick="loadNews('culture')">文化</button>
      <button onclick="loadNews('sports')">スポーツ</button>
      <button onclick="loadNews('lifestyle')">ライフ</button>
      <button onclick="loadNews('people')">ピープル</button>
    </div>

    <ul id="news-list"></ul>
  </body>
</html>
